<div class="row text-center justify-content-center m-0">
    <div class="col-lg-10 col-md-10 col-sm-12">
        <h3>Equipos</h3>
    </div>
</div>
<br />
<div class="row justify-content-center m-0">
    <div class="col-lg-10 col-md-10 col-sm-12">
        <table class="table table-bordeless">
            <th>Nombre</th>
            <th>Sigla</th>
            <th>Escudo</th>
            <th>Detalles</th>
            <th>Borrar</th>
            <tr *ngFor="let team of teams">
                <td>{{ team.name }}</td>
                <td>{{ team.acronym }}</td>
                <td>{{ team.shield }}</td>
                <td><a class="item-link text-primary" (click)="openModal(team)"><i class="fas fa-eye"></i></a></td>
                <td><span class="btn-delete text-danger" (click)="delete(team.id_team)"><i class="fas fa-trash-alt"></i></span></td>
            </tr>
        </table>
    </div>
</div>
<div class="row justify-content-center m-0">
    <div class="col-lg-10 col-md-10 col-sm-12">
        <button class="btn btn-primary btn-block" (click)="openModal()">Agregar <i class="fas fa-plus"></i></button>
    </div>
</div>
