<div class="modal-header bg-info text-white">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="post" #form="ngForm" (ngSubmit)="updateOrInsert(form)" novalidate>
            <!-- nombre -->
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" [ngModel]="team.name" #name="ngModel" class="form-control" required>
                <div class="error" *ngIf="form.submitted && name.invalid">
                <p class="alert alert-danger" *ngIf="name.errors.required">Este campo es requerido</p>
                </div>
            </div>
            <!-- acronimo -->
            <div class="form-group">
                <label for="acronym">Acronimo</label>
                <input type="text" id="acronym" name="acronym" [ngModel]="team.acronym" #name="ngModel" class="form-control" required>
                <div class="error" *ngIf="form.submitted && acronym.invalid">
                <p class="alert alert-danger" *ngIf="acronym.errors.required">Este campo es requerido</p>
                </div>
            </div>
            <!-- escudo -->
            <div class="form-group">
                <label for="shield">Escudo</label>
                <input type="text" id="shield" name="shield" [ngModel]="team.shield" #name="ngModel" class="form-control" required>
                <div class="error" *ngIf="form.submitted && shield.invalid">
                <p class="alert alert-danger" *ngIf="shield.errors.required">Este campo es requerido</p>
                </div>
            </div>
            <!-- button -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm btn-block"><i class="fas fa-save fa-2x"></i></button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
</div>
